<!doctype html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
        <script src="app.js"></script>
        <link rel="stylesheet" type="text/css" href="style.css">
        <title>Examine App</title>
    </head>
    <body ng-app="ExamineApp" ng-controller="examinCtrl">
        <h1>Contact Tree</h1>
        <ul>
            <li ng-repeat="contact in contacts track by $index" ng-click="toggleGroup(contact)" >
                <span ng-class="{isClicked:currentClickedItem==contact.id}">{{contact.name}}</span>
                <ul ng-if="contact.contacts && contact.contacts.length > 0  && iscollapsedArr.indexOf(contact.id) > -1"><!--&& selectedContact.id == contact.id-->
                    <li class="margin20" ng-repeat="contact in contact.contacts track by $index" ng-click="$event.stopPropagation();toggleGroup(contact)" >
                         <span ng-class="{isClicked:currentClickedItem==contact.id}">{{contact.name}}</span>
			         <ul ng-if="contact.contacts && contact.contacts.length > 0  && iscollapsedArr.indexOf(contact.id) > -1">
                         <li class="margin40" ng-repeat="contact in contact.contacts track by $index" ng-click="$event.stopPropagation();toggleGroup(contact)" >
                        <span ng-class="{isClicked:currentClickedItem==contact.id}">{{contact.name}}</span>
                        </li>
			         </ul>
		      	</div>
                    </li>
                </ul>
            </li>
        </ul>

    </body>
</html>